/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@import "https://unpkg.com/open-props/theme.light.switch.min.css";
@import "https://unpkg.com/open-props/theme.dark.switch.min.css";

@import "https://unpkg.com/open-props/indigo.min.css";
@import "https://unpkg.com/open-props/indigo-hsl.min.css";
@import "https://unpkg.com/open-props/easings.min.css";
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/sizes.min.css";
@import "https://unpkg.com/open-props/gradients.min.css";

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.flex-col {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --font-primary: Poppins;
  --font-secondary: Major Mono Display;
}
