/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@import "https://unpkg.com/open-props/theme.light.switch.min.css";
@import "https://unpkg.com/open-props/theme.dark.switch.min.css";

@import "https://unpkg.com/open-props/indigo.min.css";
@import "https://unpkg.com/open-props/indigo-hsl.min.css";
@import "https://unpkg.com/open-props/easings.min.css";
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/sizes.min.css";
@import "https://unpkg.com/open-props/gradients.min.css";

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --font-primary: Poppins;
  --font-secondary: Major Mono Display;
  --blue-primary: rgb(38, 125, 255);
  --red-primary: rgb(218, 89, 85);
  --gradient-primary: linear-gradient(90deg, var(--blue-primary) -15.1%, var(--red-primary) 122.31%);
  --gradient-secondary: linear-gradient(90deg, rgba(38, 125, 255, 0.5) -15.1%, rgba(218, 89, 85, 0.5) 122.31%);
  --gradient-tertiary: linear-gradient(90deg, rgba(38, 125, 255, 0.1) -15.1%, rgba(218, 89, 85, 0.1) 122.31%);

  font-family: Avenir,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

input:focus-visible {
  outline-color: var(--brand, var(--wp--preset--gradient--blush-light-purple));
}

.gradient-border {
  position: relative;
  padding: 20px;
  margin: 20px;
  /* Ensure there's space for the border */

  /* Ensure the content's background, if needed */
  background-color: white;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  /* Adjust this to change the border size */

  background: linear-gradient(to right, red, blue);
  border-radius: var(--size-2);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fill-vert {
  height: 100dhv;
}

.fill-vert {
  width: 100dvw;
}

input {
  border: 1px solid var(--gray-5);
}

.button {
  margin: 18px 16px;
  padding: 0px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: var(--font-letterspacing-3);
  border: double 2px transparent;
  border-radius: 30px;
  background-image: linear-gradient(var(--surface-1),
      var(--surface-1)),
    linear-gradient(to right, var(--blue-primary), var(--red-primary));
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: var(--text-color);
}

.button div {
  padding: var(--size-1) var(--size-6);
}
